@page "/"
@using Microsoft.Extensions.Localization

<PageTitle>@localizer["Home"]</PageTitle>

<h1>@localizer["Hello World"]</h1>

@localizer["Welcome"]

@code{
    [Inject] private IStringLocalizer<BlazorServer.Locals.Resources> localizer { get; set; } = default!;

}